.login-page {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
  background-image: url("../../public/canchaPadel.png");
  background-size: cover;
  background-position: -30em 0;
  background-repeat: no-repeat;
  background-color: #7047cf;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.login-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.726);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 35em;
  gap: 2em;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.register-text {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.register-link {
  color: #9dcf47;
  text-decoration: none;
  font-size: 2.5em;
  margin-top: 20px;
}

.register-link:hover {
  color: black;
  text-decoration: underline;
}

.boton-login{
  color: white;
  height: 3em;
}

.boton-login:hover{
  color:black;
  border: none;
  height: 3em;
  background-color: #9dcf47;
}

.login-form input{
   height: 3em;
}