@import url("https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.register {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: 20px;
  background-color: #b1e457;
  background-color: #121826;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: #f8f8f8;
  padding: 2em 2em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(26, 185, 145, 0.3);
  margin: 1em 0;
}

.titulo {
  text-align: center;

  color: #9dcf47;
  font-size: 30px;
}

label {
  display: block;
  margin-top: 1em;
  color: #121826;
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  padding: 5px;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  background-color: #1a2236;
  color: #fff;
  font-size: 16px;
}

input[type="checkbox"] {
  width: 29px;
  height: 20px;
  accent-color: #679617;
  cursor: pointer;
  margin-top: 10px;
}

.asociado-check {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  gap: 1em;
}

input[type="submit"] {
  width: 100%;
  background-color: #b1e457;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #5c7c23;
}

input[type="submit"]:disabled {
  background-color: #444;
  cursor: not-allowed;
}

.alertas {
  margin-top: 10px;
}

.ingresar-link {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  margin-left: 4em;
}

.ingresar-link a {
  color: #679617;
  text-decoration: none;
  font-size: 2em;
}

.ingresar-link a:hover {
  text-decoration: underline;
  color: white;
}
