.chatbot-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 1000;
}

.float-button {
  background-color: #9dcf47;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.float-button:hover {
  background-color: #7047cf;
  color: white;
}

.chatbot-body {
  background-color: rgba(255, 255, 255, 0.726);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 35em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
}

.chat-response {
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  max-height: 50vh;
  overflow-y: auto;
}

.response-text {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
  white-space: pre-wrap;
}

.loading {
  color: #7047cf;
  font-weight: bold;
}

.chat-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
}
.chat-buttons button {
  background-color: #9dcf47;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.75em 1.5em;
  cursor: pointer;
  font-size: 1em;
  margin-right: 1em;
  transition: background-color 0.3s;
}

.chat-buttons button:hover {
  background-color: #7047cf;
  color: white;
}
